/* form */

/* form */

.form {
    padding: 15px;
    margin: auto;
    border-radius: 30px;
  }
    
  .form-control {
    border-radius: 30px;
  }
    
  .form-signin .checkbox {
    font-weight: 30px;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 50px;
    border-radius: 30px;
  }
    
  .form-signin .form-control:focus {
    z-index: 2;
    font-size: 30px;
    border-radius: 30px;
  }
    
  .form-signin input[type='email'] {
    border-style: solid;
    border-radius: 30px;
    margin-bottom: -1px;
    color: white
  }
  .form-signin input[type='password'] {
    border-radius: 30px;
    margin-bottom: 10px;
  }
  