

/* contact */
.contact {
  background-image: linear-gradient(#2d3245b3, #04091eb3),
  url('../public/images/misc/misc3.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
}


/* swiper */
.swiper {
  height: 32rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/* slider */
.slider {
  height: 32rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}